:root {
    --color-bg-light: /*rgb(248,249,250);*/rgb(239, 247, 253);

}

/*
UTILIDADES
==========
*/

/* para quitar el margen de los textos en las tablas*/
td>p {
    margin-bottom: 0;
}

section {
    padding: 8em 0;
}

section/*:nth-child(odd)*/ {
    background-color: var(--color-bg-light);
}

/*
COMPONENTES
===========
*/

.navbar {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
}

/*
SECCIONES
=========
*/

.intro {
    min-height: 100vh;
}

.intro__title {
    line-height: 1;
}

.vbt-card {
    transition: all ease-in-out 150ms;
}

.vbt-card:hover {
    transform: scale(110%);
}

.vbt-card__title {
    font-size: 1.5rem;
    font-weight: 300;
}




